
   <!-- Product grid -->
  <div class="w3-row ">
    <div class="w3-col l3 s6">
      
      <div class="w3-container">
        <img src="http://scene7.zumiez.com/is/image/zumiez/pdp_hero/Crysp-Denim-Wayne-Indigo-Ripped-Jeans-_269043-back.jpg" style="width:100%">
        <p>Ripped Skinny Jeans<br><b ng-bind="productPrice">$24.99</b></p>        
        <!--size-->
        
        <div class="container d-inline">
      
        <div id="size">
            <label class="d-inline">Size</label>
            <select class="d-inline" ng-model="size">
                <option ng-selected="small">Small</option>                
                <option ng-selected="medium">Medium</option>
                <option ng-selected="large">Large</option> 
            </select>
        </div>

         <div>
            <label>Color</label>
            <select id="color" ng-model="color">
                <option ng-selected="blue">Blue</option>                
                <option ng-selected="black">black</option>
                <option ng-selected="grey">grey</option> 
            </select>
        </div>
      
         <div>
            <label>Quantity</label>
            <select id="quantity" ng-model="quantity">
                <option ng-selected="1">1</option>                
                <option ng-selected="2">2</option>
                <option ng-selected="3">3</option> 
            </select>
        </div>
      
      
        <button class="w3-button" ng-click="addToCart('Ripped Skinny Jeans','24.99',size,color,quantity)">Buy <i class="fa fa-shopping-cart"></i></button>
       
        </div>

      </div>
   
    <br>
    <br>
   
      <div class="w3-container">
        <img src="http://scene7.zumiez.com/is/image/zumiez/pdp_hero/Crysp-Denim-David-Ripped-Panel-Stone-Washed-Jeans-_271930.jpg" style="width:100%">
        <p>Mega Ripped Jeans<br><b>$19.99</b></p>
     
      <div class="container d-inline">
      
        <div id="size">
            <label class="d-inline">Size</label>
            <select class="d-inline" ng-model="size">
                <option ng-selected="small">Small</option>                
                <option ng-selected="medium">Medium</option>
                <option ng-selected="large">Large</option> 
            </select>
        </div>

         <div>
            <label>Color</label>
            <select id="color" ng-model="color">
                <option ng-selected="blue">Blue</option>                
                <option ng-selected="black">black</option>
                <option ng-selected="grey">grey</option> 
            </select>
        </div>
      
         <div>
            <label>Quantity</label>
            <select id="quantity" ng-model="quantity">
                <option ng-selected="1">1</option>                
                <option ng-selected="2">2</option>
                <option ng-selected="3">3</option> 
            </select>
        </div>
      
      
        <button class="w3-button" ng-click="addToCart('Mega Ripped Jeans','19.99',size,color,quantity)">Buy <i class="fa fa-shopping-cart"></i></button>
       
        </div>


        </div>

        
  




  </div>




  <!--second-->

      <div class="w3-col l3 s6">
      
      <div class="w3-container">
        <img src="https://ae01.alicdn.com/kf/HTB1dUZyLpXXXXaBXFXXq6xXFXXXN/Casual-Jeans-Men-Knee-Hole-Personality-Pockets-Denim-Ankle-Length-Ripped-Jeans-2016-Korean-Slim-Fit.jpg" style="width:100%">
        <p>Casual-Jeans-Men<br><b ng-bind="productPrice">$24.99</b></p>        
        <!--size-->
        
        <div class="container d-inline">
      
        <div id="size">
            <label class="d-inline">Size</label>
            <select class="d-inline" ng-model="size">
                <option ng-selected="small">Small</option>                
                <option ng-selected="medium">Medium</option>
                <option ng-selected="large">Large</option> 
            </select>
        </div>

         <div>
            <label>Color</label>
            <select id="color" ng-model="color">
                <option ng-selected="blue">Blue</option>                
                <option ng-selected="black">black</option>
                <option ng-selected="grey">grey</option> 
            </select>
        </div>
      
         <div>
            <label>Quantity</label>
            <select id="quantity" ng-model="quantity">
                <option ng-selected="1">1</option>                
                <option ng-selected="2">2</option>
                <option ng-selected="3">3</option> 
            </select>
        </div>
      
      
        <button class="w3-button" ng-click="addToCart('Casual-Jeans-Men','24.99',size,color,quantity)">Buy <i class="fa fa-shopping-cart"></i></button>
       
        </div>

      </div>
   
    <br>
    <br>
   
    

        

        
  




  </div>
  
  
  
  
  </div>